# "Global sales" model

In [1]:
import pandas as pd

from tensorflow import keras

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'tensorflow'

In [2]:
games_df = pd.read_csv("../data/games.csv")

games_df.head()

,Name,Platform,Publisher,Genre,Rating,Year of Release,Critic Score,User Score,NA Sales,EU Sales,JP Sales,Other Sales,Global Sales
0,Wii Sports,Wii,Nintendo,Sports,E,2006,76.0,8.0,41.36,28.96,3.77,8.45,82.53
1,Mario Kart Wii,Wii,Nintendo,Racing,E,2008,82.0,8.3,15.68,12.76,3.79,3.29,35.52
2,Wii Sports Resort,Wii,Nintendo,Sports,E,2009,80.0,8.0,15.61,10.93,3.28,2.95,32.77
3,New Super Mario Bros.,DS,Nintendo,Platform,E,2006,89.0,8.5,11.28,9.14,6.50,2.88,29.80
4,Wii Play,Wii,Nintendo,Misc,E,2006,58.0,6.6,13.96,9.18,2.93,2.84,28.92

## Data preprocessing

In [3]:
model_df = games_df.copy()

model_df.head()

,Name,Platform,Publisher,Genre,Rating,Year of Release,Critic Score,User Score,NA Sales,EU Sales,JP Sales,Other Sales,Global Sales
0,Wii Sports,Wii,Nintendo,Sports,E,2006,76.0,8.0,41.36,28.96,3.77,8.45,82.53
1,Mario Kart Wii,Wii,Nintendo,Racing,E,2008,82.0,8.3,15.68,12.76,3.79,3.29,35.52
2,Wii Sports Resort,Wii,Nintendo,Sports,E,2009,80.0,8.0,15.61,10.93,3.28,2.95,32.77
3,New Super Mario Bros.,DS,Nintendo,Platform,E,2006,89.0,8.5,11.28,9.14,6.50,2.88,29.80
4,Wii Play,Wii,Nintendo,Misc,E,2006,58.0,6.6,13.96,9.18,2.93,2.84,28.92

### Handling categorical data

In [4]:
model_df[["Name", "Platform", "Publisher", "Genre", "Rating"]].nunique()

Name         4428
Platform       17
Publisher     271
Genre          12
Rating          8
dtype: int64

In [5]:
unnecessary_columns = ["Name"] # too many of them
onehot_encode_columns = ["Platform", "Genre", "Rating"] # <=50 of them
label_encode_columns = ["Publisher"] # >50 of them

In [6]:
# unnecessary columns
model_df = model_df.drop(columns=unnecessary_columns)

# one-hot encode columns
model_df = pd.get_dummies(model_df, columns=onehot_encode_columns)

# label encode columns
label_encoder = LabelEncoder()
for label_encode_column in label_encode_columns:
    model_df[label_encode_column] = label_encoder.fit_transform(model_df[label_encode_column])

In [7]:
model_df.head()

,Publisher,Year of Release,Critic Score,User Score,NA Sales,EU Sales,JP Sales,Other Sales,Global Sales,Platform_3DS,...,Genre_Sports,Genre_Strategy,Rating_AO,Rating_E,Rating_E10+,Rating_K-A,Rating_M,Rating_RP,Rating_T,Rating_Unknown
0,167,2006,76.0,8.0,41.36,28.96,3.77,8.45,82.53,False,...,True,False,False,True,False,False,False,False,False,False
1,167,2008,82.0,8.3,15.68,12.76,3.79,3.29,35.52,False,...,False,False,False,True,False,False,False,False,False,False
2,167,2009,80.0,8.0,15.61,10.93,3.28,2.95,32.77,False,...,True,False,False,True,False,False,False,False,False,False
3,167,2006,89.0,8.5,11.28,9.14,6.50,2.88,29.80,False,...,False,False,False,True,False,False,False,False,False,False
4,167,2006,58.0,6.6,13.96,9.18,2.93,2.84,28.92,False,...,False,False,False,True,False,False,False,False,False,False

## Modeling

### Selecting the target (y) and features (X)

In [8]:
y = model_df["Global Sales"] # target
X = model_df.drop(columns=["Global Sales"]) # features

### Splitting the data: 80% training and 20% testing

In [9]:
X_training, X_testing, y_training, y_testing = train_test_split(X, y, test_size=.20, random_state=42)

In [10]:
scaler = StandardScaler() # mean=0, standard_deviation=1

X_training = scaler.fit_transform(X_training)
X_testing = scaler.fit_transform(X_testing)

### Building the regression model

In [11]:
model = keras.Sequential(
    [
        # layer 1
        keras.layers.Dense(128, activation="relu", input_shape=(X_training.shape[1],)),
        # layer 2
        keras.layers.Dense(64, activation="relu"),
        # layer 3
        keras.layers.Dense(32, activation="relu"),
        # output layer
        keras.layers.Dense(1)
    ]
)

model.compile(optimizer="adam", loss="mean_squared_error", metrics=[keras.metrics.RootMeanSquaredError()])

/Users/tyler/Library/Python/3.9/lib/python/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

### Training and evaluating the regression model

In [12]:
model.fit(X_training, y_training, epochs=50, batch_size=32, validation_data=(X_testing, y_testing))

Epoch 1/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1.8792 - root_mean_squared_error: 1.2648 - val_loss: 0.1530 - val_root_mean_squared_error: 0.3912
Epoch 2/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 897us/step - loss: 0.0470 - root_mean_squared_error: 0.2166 - val_loss: 0.1322 - val_root_mean_squared_error: 0.3635
Epoch 3/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 889us/step - loss: 0.0576 - root_mean_squared_error: 0.2345 - val_loss: 0.1208 - val_root_mean_squared_error: 0.3476
Epoch 4/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 877us/step - loss: 0.0234 - root_mean_squared_error: 0.1509 - val_loss: 0.1030 - val_root_mean_squared_error: 0.3210
Epoch 5/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 874us/step - loss: 0.0174 - root_mean_squared_error: 0.1310 - val_loss: 0.0945 - val_root_mean_squared_error: 0.3074
Epoch 6/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 863us/step - loss: 0.0070 - root_mean_squared_error: 0.0835 - val_loss: 0.0261 - val_root_mean_squared_error: 0.1614
Epoch 7/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 864us/step - loss: 0.0187 - root_mean_squared_error: 0.1343 - val_loss: 0.1115 - val_root_mean_squared_error: 0.3340
Epoch 8/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 868us/step - loss: 0.0085 - root_mean_squared_error: 0.0920 - val_loss: 0.1046 - val_root_mean_squared_error: 0.3234
Epoch 9/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 872us/step - loss: 0.0068 - root_mean_squared_error: 0.0817 - val_loss: 0.0724 - val_root_mean_squared_error: 0.2692
Epoch 10/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 872us/step - loss: 0.0856 - root_mean_squared_error: 0.2805 - val_loss: 0.0494 - val_root_mean_squared_error: 0.2223
Epoch 11/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 869us/step - loss: 0.0120 - root_mean_squared_error: 0.1074 - val_loss: 0.0443 - val_root_mean_squared_error: 0.2105
Epoch 12/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 853us/step - loss: 0.0355 - root_mean_squared_error: 0.1835 - val_loss: 0.0901 - val_root_mean_squared_error: 0.3002
Epoch 13/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 854us/step - loss: 0.0130 - root_mean_squared_error: 0.1130 - val_loss: 0.0929 - val_root_mean_squared_error: 0.3048
Epoch 14/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 871us/step - loss: 0.0132 - root_mean_squared_error: 0.1124 - val_loss: 0.1025 - val_root_mean_squared_error: 0.3201
Epoch 15/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 855us/step - loss: 0.0071 - root_mean_squared_error: 0.0820 - val_loss: 0.0644 - val_root_mean_squared_error: 0.2538
Epoch 16/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - loss: 0.0111 - root_mean_squared_error: 0.1035 - val_loss: 0.0648 - val_root_mean_squared_error: 0.2545
Epoch 17/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - loss: 0.1322 - root_mean_squared_error: 0.3593 - val_loss: 0.0598 - val_root_mean_squared_error: 0.2445
Epoch 18/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 849us/step - loss: 0.0194 - root_mean_squared_error: 0.1363 - val_loss: 0.0919 - val_root_mean_squared_error: 0.3031
Epoch 19/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 850us/step - loss: 0.0066 - root_mean_squared_error: 0.0808 - val_loss: 0.0838 - val_root_mean_squared_error: 0.2894
Epoch 20/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 0.0032 - root_mean_squared_error: 0.0563 - val_loss: 0.1122 - val_root_mean_squared_error: 0.3349
Epoch 21/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 869us/step - loss: 0.0347 - root_mean_squared_error: 0.1823 - val_loss: 0.0734 - val_root_mean_squared_error: 0.2708
Epoch 22/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 864us/step - loss: 0.0044 - root_mean_squared_error: 0.0659 - val_loss: 0.1072 - val_root_mean_squared_error: 0.3274
Epoch 23/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - loss: 0.0056 - root_mean_squared_error: 0.0734 - val_loss: 0.1569 - val_root_mean_squared_error: 0.3961
Epoch 24/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - loss: 0.3427 - root_mean_squared_error: 0.5588 - val_loss: 0.0742 - val_root_mean_squared_error: 0.2724
Epoch 25/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 0.0099 - root_mean_squared_error: 0.0977 - val_loss: 0.0498 - val_root_mean_squared_error: 0.2231
Epoch 26/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 0.0392 - root_mean_squared_error: 0.1949 - val_loss: 0.0788 - val_root_mean_squared_error: 0.2807
Epoch 27/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - loss: 0.0068 - root_mean_squared_error: 0.0823 - val_loss: 0.0698 - val_root_mean_squared_error: 0.2643
Epoch 28/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 856us/step - loss: 0.0064 - root_mean_squared_error: 0.0785 - val_loss: 0.0884 - val_root_mean_squared_error: 0.2973
Epoch 29/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 860us/step - loss: 0.0030 - root_mean_squared_error: 0.0544 - val_loss: 0.0374 - val_root_mean_squared_error: 0.1934
Epoch 30/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 854us/step - loss: 0.0142 - root_mean_squared_error: 0.1178 - val_loss: 0.0974 - val_root_mean_squared_error: 0.3121
Epoch 31/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 855us/step - loss: 0.0024 - root_mean_squared_error: 0.0484 - val_loss: 0.0874 - val_root_mean_squared_error: 0.2956
Epoch 32/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - loss: 0.0039 - root_mean_squared_error: 0.0609 - val_loss: 0.0974 - val_root_mean_squared_error: 0.3121
Epoch 33/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 923us/step - loss: 0.0038 - root_mean_squared_error: 0.0604 - val_loss: 0.0982 - val_root_mean_squared_error: 0.3134
Epoch 34/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - loss: 0.0035 - root_mean_squared_error: 0.0581 - val_loss: 0.0925 - val_root_mean_squared_error: 0.3041
Epoch 35/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0013 - root_mean_squared_error: 0.0363 - val_loss: 0.0938 - val_root_mean_squared_error: 0.3062
Epoch 36/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 863us/step - loss: 9.1737e-04 - root_mean_squared_error: 0.0302 - val_loss: 0.0694 - val_root_mean_squared_error: 0.2634
Epoch 37/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 853us/step - loss: 0.0015 - root_mean_squared_error: 0.0390 - val_loss: 0.0923 - val_root_mean_squared_error: 0.3038
Epoch 38/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 863us/step - loss: 0.0048 - root_mean_squared_error: 0.0686 - val_loss: 0.0941 - val_root_mean_squared_error: 0.3067
Epoch 39/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - loss: 0.0012 - root_mean_squared_error: 0.0338 - val_loss: 0.0943 - val_root_mean_squared_error: 0.3071
Epoch 40/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 850us/step - loss: 0.0176 - root_mean_squared_error: 0.1269 - val_loss: 0.0865 - val_root_mean_squared_error: 0.2941
Epoch 41/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 844us/step - loss: 0.0087 - root_mean_squared_error: 0.0867 - val_loss: 0.0758 - val_root_mean_squared_error: 0.2754
Epoch 42/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 860us/step - loss: 0.0150 - root_mean_squared_error: 0.1211 - val_loss: 0.1078 - val_root_mean_squared_error: 0.3284
Epoch 43/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 855us/step - loss: 0.0049 - root_mean_squared_error: 0.0697 - val_loss: 0.0882 - val_root_mean_squared_error: 0.2969
Epoch 44/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 852us/step - loss: 0.0054 - root_mean_squared_error: 0.0719 - val_loss: 0.0869 - val_root_mean_squared_error: 0.2948
Epoch 45/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 861us/step - loss: 0.0048 - root_mean_squared_error: 0.0672 - val_loss: 0.0729 - val_root_mean_squared_error: 0.2699
Epoch 46/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 861us/step - loss: 0.0036 - root_mean_squared_error: 0.0589 - val_loss: 0.1635 - val_root_mean_squared_error: 0.4043
Epoch 47/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - loss: 0.1765 - root_mean_squared_error: 0.4037 - val_loss: 0.0501 - val_root_mean_squared_error: 0.2238
Epoch 48/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 855us/step - loss: 0.0543 - root_mean_squared_error: 0.2228 - val_loss: 0.0820 - val_root_mean_squared_error: 0.2864
Epoch 49/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 860us/step - loss: 0.0031 - root_mean_squared_error: 0.0547 - val_loss: 0.0633 - val_root_mean_squared_error: 0.2517
Epoch 50/50
173/173 ━━━━━━━━━━━━━━━━━━━━ 0s 869us/step - loss: 0.0028 - root_mean_squared_error: 0.0522 - val_loss: 0.0937 - val_root_mean_squared_error: 0.3061

In [13]:
model.evaluate(X_testing, y_testing)

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 686us/step - loss: 0.0749 - root_mean_squared_error: 0.2712

[0.09370514005422592, 0.30611294507980347]

### Predicting

In [14]:
y_prediction = model.predict(X_testing)

r2 = r2_score(y_testing, y_prediction)
print(f"r2: {r2}")

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step
r2: 0.9655160847724943

## Saving

In [15]:
model_df.to_csv("output/model_data.csv", index=False)