# Data cleaning

In [1]:
import pandas as pd
import sqlite3

In [2]:
unclean_games_df = pd.read_csv("unclean-data/unclean_games.csv")

unclean_games_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Columns

### Dropping columns

In [3]:
unclean_games_df = unclean_games_df.drop(columns=["Critic_Count", "User_Count", "Developer"])

unclean_games_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN

### Renaming columns

In [4]:
unclean_games_df = unclean_games_df.rename(columns={
    "Year_of_Release": "Year of Release",
    "NA_Sales": "NA Sales",
    "EU_Sales": "EU Sales",
    "JP_Sales": "JP Sales",
    "Other_Sales": "Other Sales",
    "Global_Sales": "Global Sales",
    "Critic_Score": "Critic Score",
    "User_Score": "User Score"
})

unclean_games_df.head()

,Name,Platform,Year of Release,Genre,Publisher,NA Sales,EU Sales,JP Sales,Other Sales,Global Sales,Critic Score,User Score,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN

### Reordering columns

In [5]:
unclean_games_df = unclean_games_df[["Name", "Platform", "Publisher", "Genre", "Rating", "Year of Release", "Critic Score", "User Score", "NA Sales", "EU Sales", "JP Sales", "Other Sales", "Global Sales"]]

unclean_games_df.head()

,Name,Platform,Publisher,Genre,Rating,Year of Release,Critic Score,User Score,NA Sales,EU Sales,JP Sales,Other Sales,Global Sales
0,Wii Sports,Wii,Nintendo,Sports,E,2006.0,76.0,8,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,Nintendo,Platform,NaN,1985.0,NaN,NaN,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,Nintendo,Racing,E,2008.0,82.0,8.3,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,Nintendo,Sports,E,2009.0,80.0,8,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,Nintendo,Role-Playing,NaN,1996.0,NaN,NaN,11.27,8.89,10.22,1.00,31.37

## Values

In [6]:
unclean_games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Publisher        16665 non-null  object
 3   Genre            16717 non-null  object
 4   Rating           9950 non-null   object
 5   Year of Release  16450 non-null  float64
 6   Critic Score     8137 non-null   float64
 7   User Score       10015 non-null  object
 8   NA Sales         16719 non-null  float64
 9   EU Sales         16719 non-null  float64
 10  JP Sales         16719 non-null  float64
 11  Other Sales      16719 non-null  float64
 12  Global Sales     16719 non-null  float64
dtypes: float64(7), object(6)
memory usage: 1.7+ MB

### Fixing types

#### Removing decimal places from "Year of Release" and converting to Int64

In [7]:
unclean_games_df["Year of Release"] = unclean_games_df["Year of Release"].apply(lambda year: str(year).replace(".0", "") if isinstance(year, float) else str(year))
unclean_games_df["Year of Release"] = unclean_games_df["Year of Release"].replace("nan", None).astype("Int64")

unclean_games_df["Year of Release"].head()

0    2006
1    1985
2    2008
3    2009
4    1996
Name: Year of Release, dtype: Int64

#### Changing "User Score" to float64

In [8]:
unclean_games_df["User Score"] = unclean_games_df["User Score"].replace("tbd", None).astype("float64")

unclean_games_df["User Score"].head()

0    8.0
1    NaN
2    8.3
3    8.0
4    NaN
Name: User Score, dtype: float64

In [9]:
unclean_games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Publisher        16665 non-null  object
 3   Genre            16717 non-null  object
 4   Rating           9950 non-null   object
 5   Year of Release  16450 non-null  Int64
 6   Critic Score     8137 non-null   float64
 7   User Score       7590 non-null   float64
 8   NA Sales         16719 non-null  float64
 9   EU Sales         16719 non-null  float64
 10  JP Sales         16719 non-null  float64
 11  Other Sales      16719 non-null  float64
 12  Global Sales     16719 non-null  float64
dtypes: Int64(1), float64(7), object(5)
memory usage: 1.7+ MB

### Dealing with null values

#### Dealing with string null values: "nan", "tbd"

In [10]:
unclean_games_df = unclean_games_df.replace("nan", None)
unclean_games_df = unclean_games_df.replace("tbd", None)

#### Dealing with null values of the categorical columns

In [11]:
# Replace null with "Unknown"
unclean_games_df[["Name", "Platform", "Publisher", "Genre", "Rating"]] = unclean_games_df[["Name", "Platform", "Publisher", "Genre", "Rating"]].fillna("Unknown")

unclean_games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16719 non-null  object
 1   Platform         16719 non-null  object
 2   Publisher        16719 non-null  object
 3   Genre            16719 non-null  object
 4   Rating           16719 non-null  object
 5   Year of Release  16450 non-null  Int64
 6   Critic Score     8137 non-null   float64
 7   User Score       7590 non-null   float64
 8   NA Sales         16719 non-null  float64
 9   EU Sales         16719 non-null  float64
 10  JP Sales         16719 non-null  float64
 11  Other Sales      16719 non-null  float64
 12  Global Sales     16719 non-null  float64
dtypes: Int64(1), float64(7), object(5)
memory usage: 1.7+ MB

#### Dealing with null values of the numerical columns

In [12]:
# Drop rows which don't have numerical data
unclean_games_df = unclean_games_df.dropna(subset=["Year of Release", "Critic Score", "User Score"])

unclean_games_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6894 entries, 0 to 16709
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6894 non-null   object
 1   Platform         6894 non-null   object
 2   Publisher        6894 non-null   object
 3   Genre            6894 non-null   object
 4   Rating           6894 non-null   object
 5   Year of Release  6894 non-null   Int64
 6   Critic Score     6894 non-null   float64
 7   User Score       6894 non-null   float64
 8   NA Sales         6894 non-null   float64
 9   EU Sales         6894 non-null   float64
 10  JP Sales         6894 non-null   float64
 11  Other Sales      6894 non-null   float64
 12  Global Sales     6894 non-null   float64
dtypes: Int64(1), float64(7), object(5)
memory usage: 760.8+ KB

## Saving

In [13]:
unclean_games_df.to_csv("games.csv", index=False)

In [14]:
unclean_games_df.to_sql("games", sqlite3.connect("games.db"), if_exists="replace", index=False)

6894